.app{
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%,-50%);
    
}
input{
    padding: 5px 20px 5px 5px;
    margin: 10px;
}
.main{
    width: 100%;
    border: 2px solid red;
    padding: 20px;
    background: rgba(0,0,0,0.8);
    color: #fff;
}
button{
    padding: 4px 20px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
}
input{
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
}
ol li{
    text-transform: uppercase;
    list-style-type: none;
}
ol li span{
    padding: 5px;
    background: red;
    color: white;
    cursor: pointer;
}